.Column{
    display:flex;
    flex-direction: column;
    width: 640px;
    margin: 0 auto;
}
.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 640px;
}
.price{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ingredients{
    align-items: flex-start;
}
.number{
    text-align: center;
}