.content{
    border-radius:  40px;
    background-color: #1C1C21;
    min-height: 538px;
    width: 720px;
    position: relative;
    z-index: 2;
}
.close{
    position: absolute;
    right: 40px;
    top: 60px;
    cursor: pointer;
    height: 24px;
}
.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: scale(0);
    z-index: 10;
}
.active{
    transform: scale(1);
}