.Container{
    margin: auto ;
    width: 480px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Input{
    height: 64px;
    width: 456px;
    border-radius:40px ;
    background-color: #2F2F37;
    border: 0px none;
    padding-left: 24px;  
}
.Input::placeholder{ 
    color: #8585AD;
}
.Password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.PasswordIcon{
    position: absolute;
    right: 24px;
    top: 44px;
}
.Links{
    display: flex;
    height: 24px;
    align-items: center;
}
.ColoredText{
    margin-left: 8px;
    color: #4C4CFF;
    cursor: pointer;
}