.ingredientDetails{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.flexbox{
    display: flex;
    gap:20px
}
.property{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
}
.img{
    width: 480px;
    height: 240px;
}
.container{
    display: flex;
    justify-content: center;
}