.BurgerConstructor{
    display: flex;
    flex-direction: column;
}
.buy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.elements{
    height: 652px;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.price{
    display: flex;
    align-items: center
}
.elementsnobun{
    display: flex;
    align-items: center;
}
.ChoiseBunTop{
    width: 536px;
    height: 80px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1C21;
}
.ChoiseBunBot{
    width: 536px;
    height: 80px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1C21;
}